.popap_wrapper {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popap {
    padding: 30px;
    max-width: 500px;
    border-radius: 30px;
    box-shadow: 0px 0px 49px 16px rgba(34, 60, 80, 0.53);
}

.popap_name_discond {
    font-weight: bold;
}